<!DOCTYPE html>
<html>

<head>
    <title>A Meaningful Page Title</title>
</head>

<body>

    <h1>Daniel's ML UI</h1>

    <p>My first HTML.</p>

    <h2>Symptoms:</h2>

    <form id="form1" action="/action_page.php">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> I have a bike</label><br>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> I have a car</label><br>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> I have a boat</label><br><br>
        <input type="submit" value="Submit">
    </form>

    {% for s in symptoms %}
    <h5>{{ s }}</h5>
    {% endfor %}


    <script>
        const form1 = document.getElementById("form1");

        {% for s in symptoms %}

        const chk = document.createElement("INPUT");
        x.setAttribute("type", "checkbox");
        x.setAttribute("id", "{%  %}");

        form1.appendChild(chk);

        const lb = document.createElement("LABEL");
        lb.setAttribute("type", "checkbox");
        form1.appendChild(x);



        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <label for="vehicle1"> I have a bike</label><br>


        {% endfor %}

    </script>

</body>

</html>